quanlytiemhoa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- Root -->
    <xs:element name="HeThongQuanLyTiemHoa">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DanhMucs"/>
                <xs:element ref="NhaCungCaps"/>
                <xs:element ref="SanPhams"/>
                <xs:element ref="KhachHangs"/>
                <xs:element ref="Vouchers"/>
                <xs:element ref="DonHangs"/>
                <xs:element ref="ChiTietDonHangs"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Kiểu dùng chung -->
    <xs:simpleType name="SoDienThoai">
        <xs:restriction base="xs:string">         
            <xs:pattern value="0\d{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
        <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"/>
    </xs:restriction>
</xs:simpleType>


    <xs:simpleType name="GiaTien">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:totalDigits value="10"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TrangThaiDonHang">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Đang xử lý"/>
            <xs:enumeration value="Đang giao"/>
            <xs:enumeration value="Đã giao"/>
            <xs:enumeration value="Đã hủy"/>
            <xs:enumeration value="Đã thanh toán"/>
            <xs:enumeration value="Chờ xác nhận"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TrangThaiVoucherType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Còn hạn"/>
            <xs:enumeration value="Hết hạn"/>
            <xs:enumeration value="Ngừng sử dụng"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HinhThucThanhToan">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tiền mặt"/>
            <xs:enumeration value="Chuyển khoản"/>
            <xs:enumeration value="Online"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Danh mục -->
    <xs:element name="DanhMucs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DanhMuc" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TenDM" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="MaDM" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Nhà cung cấp -->
    <xs:element name="NhaCungCaps">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NhaCungCap" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TenNCC" type="xs:string"/>
                            <xs:element name="SDT" type="SoDienThoai"/>
                            <xs:element name="DiaChi" type="xs:string"/>
                            <xs:element name="Email" type="EmailType"/>
                        </xs:sequence>
                        <xs:attribute name="MaNCC" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Sản phẩm -->
    <xs:element name="SanPhams">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SanPham" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TenHoa" type="xs:string"/>
                            <xs:element name="LoaiHoa" type="xs:string"/>
                            <xs:element name="Gia" type="GiaTien"/>
                            <xs:element name="SoLuongTon">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="MaSP" type="xs:ID" use="required"/>
                        <xs:attribute name="MaDM" type="xs:IDREF" use="required"/>
                        <xs:attribute name="MaNCC" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Khách hàng -->
    <xs:element name="KhachHangs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="KhachHang" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HoTen" type="xs:string"/>
                            <xs:element name="SDT" type="SoDienThoai"/>
                            <xs:element name="DiaChi" type="xs:string"/>
                            <xs:element name="Email" type="EmailType"/>
                        </xs:sequence>
                        <xs:attribute name="MaKH" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Voucher -->
    <xs:element name="Vouchers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Voucher" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TenVoucher" type="xs:string"/>
                            <xs:element name="Loai" type="xs:string"/>
                            <xs:element name="GiaTri" type="GiaTien"/>
                            <xs:element name="NgayBD" type="xs:date"/>
                            <xs:element name="NgayKT" type="xs:date"/>
                            <xs:element name="TrangThai" type="TrangThaiVoucherType"/>
                        </xs:sequence>
                        <xs:attribute name="MaVoucher" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Đơn hàng -->
    <xs:element name="DonHangs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DonHang" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NgayDat" type="xs:date"/>
                            <xs:element name="NgayGiao" type="xs:date"/>
                            <xs:element name="TongTien" type="GiaTien"/>
                            <xs:element name="TrangThai" type="TrangThaiDonHang"/>
                            <xs:element name="HinhThucTT" type="HinhThucThanhToan"/>
                            <xs:element name="NgayTT" type="xs:date"/>
                            <xs:element name="SoTien" type="GiaTien"/>
                        </xs:sequence>
                        <xs:attribute name="MaDH" type="xs:ID" use="required"/>
                        <xs:attribute name="MaKH" type="xs:IDREF" use="required"/>
                        <xs:attribute name="MaVoucher" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    
    <!-- Chi tiết đơn hàng -->
    <xs:element name="ChiTietDonHangs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ChiTietDonHang" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SoLuong">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DonGia" type="GiaTien"/>
                        </xs:sequence>
                        <xs:attribute name="MaCTDH" type="xs:ID" use="required"/>
                        <xs:attribute name="MaDH" type="xs:IDREF" use="required"/>
                        <xs:attribute name="MaSP" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
